@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --font-family-default: 'Inter', serif;
  --font-weight-normal: 300;
  --font-weight-semibold: 400;
  --font-weight-bold: 500;
  --line-height: 1.375;

  --radius-default: 0.25rem;

  --transition-duration-fast: 150ms;
  --transition-duration-slow: 300ms;

  --box-shadow-border: 0 0 0 1px rgba(0, 0, 0, .1);
  --box-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, .12);
  --box-shadow-sm: 0 2px 3px 0 rgba(0, 0, 0, .14);
  --box-shadow-md: 0 4px 6px 0 rgba(0, 0, 0, .16);
  --box-shadow-lg: 0 8px 8px 0 rgba(0, 0, 0, .18);
  --box-shadow-xl: 0 12px 16px 0 rgba(0, 0, 0, .2);
  --box-shadow-xxl: 0 16px 24px 0 rgba(0, 0, 0, .2);

  --color-backdrop: rgba(0, 0, 0, .6);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-primary: hsl(344, 82%, 60%);
  --color-primary-hover: hsl(346, 72%, 50%);
  --color-secondary: rgb(37, 40, 55);
  --color-secondary-hover: hsl(230, 24%, 10%);
  --color-success: hsl(170, 68%, 44%);
  --color-success-hover: hsl(172, 67%, 36%);
  --color-warning: hsl(36, 92%, 50%);
  --color-warning-hover: hsl(32, 95%, 44%);
  --color-error: hsl(344, 82%, 60%);
  --color-error-hover: hsl(346, 72%, 50%);
  --color-light: hsl(220, 14%, 70%);
  --color-light-hover: hsl(220, 14%, 80%);
  
  --color-red-50: hsl(10, 90%, 96%);
  --color-red-100: hsl(10, 87%, 90%);
  --color-red-200: hsl(10, 86%, 80%);
  --color-red-300: hsl(8, 84%, 74%);
  --color-red-400: hsl(6, 80%, 66%);
  --color-red-500: hsl(4, 74%, 56%);
  --color-red-600: hsl(2, 62%, 48%);
  --color-red-700: hsl(2, 60%, 42%);
  --color-red-800: hsl(0, 60%, 36%);
  --color-red-900: hsl(0, 60%, 28%);
  --color-red-950: hsl(0, 58%, 20%);

  --color-orange-50: hsl(30, 100%, 96%);
  --color-orange-100: hsl(30, 100%, 92%);
  --color-orange-200: hsl(30, 98%, 83%);
  --color-orange-300: hsl(28, 97%, 72%);
  --color-orange-400: hsl(26, 96%, 61%);
  --color-orange-500: hsl(24, 95%, 53%);
  --color-orange-600: hsl(22, 90%, 48%);
  --color-orange-700: hsl(20, 88%, 40%);
  --color-orange-800: hsl(18, 79%, 34%);
  --color-orange-900: hsl(16, 75%, 28%);
  --color-orange-950: hsl(14, 81%, 15%);

  --color-amber-50: hsl(40, 100%, 96%);
  --color-amber-100: hsl(40, 96%, 89%);
  --color-amber-200: hsl(40, 97%, 77%);
  --color-amber-300: hsl(38, 97%, 65%);
  --color-amber-400: hsl(38, 96%, 56%);
  --color-amber-500: hsl(36, 92%, 50%);
  --color-amber-600: hsl(32, 95%, 44%);
  --color-amber-700: hsl(30, 90%, 37%);
  --color-amber-800: hsl(28, 83%, 31%);
  --color-amber-900: hsl(26, 75%, 28%);
  --color-amber-950: hsl(24, 81%, 15%);

  --color-yellow-50: hsl(60, 92%, 95%);
  --color-yellow-100: hsl(58, 97%, 88%);
  --color-yellow-200: hsl(56, 98%, 77%);
  --color-yellow-300: hsl(54, 98%, 64%);
  --color-yellow-400: hsl(50, 96%, 53%);
  --color-yellow-500: hsl(46, 93%, 47%);
  --color-yellow-600: hsl(42, 96%, 40%);
  --color-yellow-700: hsl(38, 92%, 33%);
  --color-yellow-800: hsl(34, 81%, 29%);
  --color-yellow-900: hsl(30, 73%, 26%);
  --color-yellow-950: hsl(26, 83%, 14%);

  --color-lime-50: hsl(80, 92%, 95%);
  --color-lime-100: hsl(80, 88%, 89%);
  --color-lime-200: hsl(82, 84%, 80%);
  --color-lime-300: hsl(84, 80%, 67%);
  --color-lime-400: hsl(86, 76%, 55%);
  --color-lime-500: hsl(88, 74%, 44%);
  --color-lime-600: hsl(90, 72%, 36%);
  --color-lime-700: hsl(92, 70%, 28%);
  --color-lime-800: hsl(92, 66%, 24%);
  --color-lime-900: hsl(94, 62%, 20%);
  --color-lime-950: hsl(94, 80%, 10%);

  --color-green-50: hsl(116, 76%, 97%);
  --color-green-100: hsl(116, 84%, 93%);
  --color-green-200: hsl(118, 78%, 85%);
  --color-green-300: hsl(120, 74%, 73%);
  --color-green-400: hsl(120, 70%, 58%);
  --color-green-500: hsl(122, 68%, 44%);
  --color-green-600: hsl(124, 67%, 36%);
  --color-green-700: hsl(126, 66%, 29%);
  --color-green-800: hsl(128, 64%, 24%);
  --color-green-900: hsl(130, 60%, 20%);
  --color-green-950: hsl(130, 80%, 10%);

  --color-teal-50: hsl(134, 76%, 97%);
  --color-teal-100: hsl(136, 84%, 93%);
  --color-teal-200: hsl(138, 78%, 85%);
  --color-teal-300: hsl(140, 74%, 73%);
  --color-teal-400: hsl(140, 70%, 58%);
  --color-teal-500: hsl(142, 68%, 44%);
  --color-teal-600: hsl(144, 67%, 36%);
  --color-teal-700: hsl(146, 66%, 29%);
  --color-teal-800: hsl(148, 64%, 24%);
  --color-teal-900: hsl(150, 60%, 20%);
  --color-teal-950: hsl(150, 80%, 10%);

  --color-cyan-50: hsl(160, 76%, 97%);
  --color-cyan-100: hsl(160, 84%, 93%);
  --color-cyan-200: hsl(164, 78%, 85%);
  --color-cyan-300: hsl(168, 74%, 73%);
  --color-cyan-400: hsl(170, 70%, 58%);
  --color-cyan-500: hsl(170, 68%, 44%);
  --color-cyan-600: hsl(172, 67%, 36%);
  --color-cyan-700: hsl(174, 66%, 29%);
  --color-cyan-800: hsl(176, 64%, 24%);
  --color-cyan-900: hsl(178, 60%, 20%);
  --color-cyan-950: hsl(178, 80%, 10%);

  --color-lightblue-50: hsl(180, 76%, 97%);
  --color-lightblue-100: hsl(182, 84%, 93%);
  --color-lightblue-200: hsl(184, 78%, 85%);
  --color-lightblue-300: hsl(188, 74%, 73%);
  --color-lightblue-400: hsl(190, 70%, 58%);
  --color-lightblue-500: hsl(190, 68%, 44%);
  --color-lightblue-600: hsl(192, 67%, 36%);
  --color-lightblue-700: hsl(194, 66%, 29%);
  --color-lightblue-800: hsl(196, 64%, 24%);
  --color-lightblue-900: hsl(198, 60%, 20%);
  --color-lightblue-950: hsl(198, 80%, 10%);

  --color-blue-50: hsl(206, 76%, 96%);
  --color-blue-100: hsl(208, 84%, 92%);
  --color-blue-200: hsl(210, 78%, 84%);
  --color-blue-300: hsl(212, 72%, 72%);
  --color-blue-400: hsl(214, 68%, 60%);
  --color-blue-500: hsl(214, 64%, 48%);
  --color-blue-600: hsl(216, 64%, 38%);
  --color-blue-700: hsl(218, 64%, 30%);
  --color-blue-800: hsl(220, 64%, 24%);
  --color-blue-900: hsl(222, 66%, 20%);
  --color-blue-950: hsl(222, 80%, 10%);

  --color-indigo-50: hsl(228, 96%, 97%);
  --color-indigo-100: hsl(230, 96%, 94%);
  --color-indigo-200: hsl(232, 92%, 89%);
  --color-indigo-300: hsl(234, 90%, 82%);
  --color-indigo-400: hsl(236, 84%, 74%);
  --color-indigo-500: hsl(236, 76%, 66%);
  --color-indigo-600: hsl(238, 70%, 60%);
  --color-indigo-700: hsl(240, 60%, 52%);
  --color-indigo-800: hsl(242, 56%, 42%);
  --color-indigo-900: hsl(244, 58%, 34%);
  --color-indigo-950: hsl(242, 54%, 20%);

  --color-deeppurple-50: hsl(242, 96%, 97%);
  --color-deeppurple-100: hsl(244, 96%, 94%);
  --color-deeppurple-200: hsl(246, 92%, 89%);
  --color-deeppurple-300: hsl(248, 90%, 82%);
  --color-deeppurple-400: hsl(250, 84%, 74%);
  --color-deeppurple-500: hsl(250, 76%, 66%);
  --color-deeppurple-600: hsl(252, 70%, 60%);
  --color-deeppurple-700: hsl(254, 60%, 52%);
  --color-deeppurple-800: hsl(256, 56%, 42%);
  --color-deeppurple-900: hsl(258, 58%, 34%);
  --color-deeppurple-950: hsl(258, 54%, 20%);

  --color-purple-50: hsl(260, 96%, 96%);
  --color-purple-100: hsl(260, 96%, 92%);
  --color-purple-200: hsl(262, 92%, 85%);
  --color-purple-300: hsl(264, 90%, 76%);
  --color-purple-400: hsl(266, 84%, 68%);
  --color-purple-500: hsl(266, 80%, 62%);
  --color-purple-600: hsl(268, 70%, 54%);
  --color-purple-700: hsl(270, 64%, 46%);
  --color-purple-800: hsl(272, 62%, 38%);
  --color-purple-900: hsl(274, 62%, 28%);
  --color-purple-950: hsl(274, 70%, 20%);

  --color-magenta-50: hsl(294, 96%, 96%);
  --color-magenta-100: hsl(294, 96%, 92%);
  --color-magenta-200: hsl(296, 92%, 85%);
  --color-magenta-300: hsl(298, 90%, 76%);
  --color-magenta-400: hsl(300, 84%, 68%);
  --color-magenta-500: hsl(300, 80%, 62%);
  --color-magenta-600: hsl(302, 70%, 54%);
  --color-magenta-700: hsl(304, 64%, 46%);
  --color-magenta-800: hsl(306, 62%, 38%);
  --color-magenta-900: hsl(308, 62%, 28%);
  --color-magenta-950: hsl(308, 70%, 20%);

  --color-pink-50: hsl(314, 96%, 96%);
  --color-pink-100: hsl(314, 96%, 92%);
  --color-pink-200: hsl(316, 92%, 85%);
  --color-pink-300: hsl(318, 90%, 76%);
  --color-pink-400: hsl(320, 84%, 68%);
  --color-pink-500: hsl(320, 80%, 62%);
  --color-pink-600: hsl(322, 70%, 54%);
  --color-pink-700: hsl(324, 64%, 46%);
  --color-pink-800: hsl(326, 62%, 38%);
  --color-pink-900: hsl(328, 64%, 28%);
  --color-pink-950: hsl(328, 70%, 20%);

  --color-crimson-50: hsl(338, 100%, 97%);
  --color-crimson-100: hsl(338, 100%, 95%);
  --color-crimson-200: hsl(340, 96%, 90%);
  --color-crimson-300: hsl(342, 92%, 80%);
  --color-crimson-400: hsl(344, 88%, 70%);
  --color-crimson-500: hsl(344, 82%, 60%);
  --color-crimson-600: hsl(346, 72%, 50%);
  --color-crimson-700: hsl(348, 78%, 42%);
  --color-crimson-800: hsl(350, 82%, 34%);
  --color-crimson-900: hsl(352, 86%, 26%);
  --color-crimson-950: hsl(352, 88%, 16%);

  --color-silver-50: hsl(230, 20%, 97%);
  --color-silver-100: hsl(230, 16%, 93%);
  --color-silver-200: hsl(230, 14%, 88%);
  --color-silver-300: hsl(230, 14%, 80%);
  --color-silver-400: hsl(230, 14%, 70%);
  --color-silver-500: hsl(230, 14%, 56%);
  --color-silver-600: hsl(230, 16%, 40%);
  --color-silver-700: hsl(230, 18%, 26%);
  --color-silver-800: hsl(230, 20%, 18%);
  --color-silver-900: hsl(230, 24%, 10%);
  --color-silver-950: hsl(230, 60%, 4%);

  --color-gray-50: hsl(0, 0%, 97%);
  --color-gray-100: hsl(0, 0%, 93%);
  --color-gray-200: hsl(0, 0%, 88%);
  --color-gray-300: hsl(0, 0%, 80%);
  --color-gray-400: hsl(0, 0%, 64%);
  --color-gray-500: hsl(0, 0%, 44%);
  --color-gray-600: hsl(0, 0%, 30%);
  --color-gray-700: hsl(0, 0%, 22%);
  --color-gray-800: hsl(0, 0%, 16%);
  --color-gray-900: hsl(0, 0%, 8%);
  --color-gray-950: hsl(0, 0%, 4%);

  --color-neutral-50: hsl(60, 14%, 97%);
  --color-neutral-100: hsl(60, 12%, 92%);
  --color-neutral-200: hsl(60, 10%, 86%);
  --color-neutral-300: hsl(60, 8%, 76%);
  --color-neutral-400: hsl(60, 6%, 64%);
  --color-neutral-500: hsl(60, 6%, 48%);
  --color-neutral-600: hsl(60, 6%, 32%);
  --color-neutral-700: hsl(60, 8%, 24%);
  --color-neutral-800: hsl(60, 10%, 16%);
  --color-neutral-900: hsl(60, 12%, 10%);
  --color-neutral-950: hsl(60, 14%, 4%);
}

html {
  font-size: 16px;
}
body {
  color: var(--color-secondary);
  font-family: var(--font-family-default);
  font-size: 0.875rem;
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height);
}


/* PANEL */
.panel {
  border-color: var(--color-silver-200);
  border-radius: var(--radius-default);
  background-color: var(--color-white);
}


/* MODAL */
.modal {
  background-color: var(--color-backdrop);
}
.modal .modal-content {
  border-radius: var(--radius-default);
  background-color: var(--color-white);
}
.modal-header {
  border-bottom-color: var(--color-silver-100);
}
.modal-footer {
  border-top-color: var(--color-silver-100);
}
.modal-close {
  font-size: 1.25rem;
}


/* DRAWER */
.drawer {
  background-color: var(--color-backdrop);
}
.drawer .modal-content {
  background-color: var(--color-white);
}

/* MOBILE PAGE */
.mobilepage {
  background-color: var(--color-backdrop);
}
.mobilepage .modal-content {
  background-color: var(--color-white);
}


/* TOAST */
.toast-item {
  width: 340px;
  border: 1px solid var(--color-silver-100);
  border-left-width: 0.5rem;
  border-left-style: solid;
  border-radius: var(--radius-default);
  background-color: var(--color-white);
}
.toast-item.primary {
  border-left-color: var(--color-primary);
}
.toast-item.secondary {
  border-left-color: var(--color-secondary);
}
.toast-item.success {
  border-left-color: var(--color-success);
}
.toast-item.warning {
  border-left-color: var(--color-warning);
}
.toast-item.error {
  border-left-color: var(--color-error);
}
.toast-item.light {
  border-left-color: var(--color-light);
}


/* ACCORDION */
.accordion-item {
  border-top-color: var(--color-silver-300);
}


/* DROPDOWN */
.dropdown {
  border: 1px solid var(--color-silver-100);
  border-radius: var(--radius-default);
  background-color: var(--color-white);
}


/* BUTTONS */
.btn {
  font-family: var(--font-family-default);
  font-weight: var(--font-weight-semibold);
  border-radius: var(--radius-default);
}
.btn-light {
  color: var(--color-white);
  border-color: var(--color-light);
  background-color: var(--color-light);
}
.btn-light:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-light-hover);
  background-color: var(--color-light-hover);
}
.btn-primary {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.btn-primary:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-primary-hover);
  background-color: var(--color-primary-hover);
}
.btn-secondary {
  color: var(--color-white);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}
.btn-secondary:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-secondary-hover);
  background-color: var(--color-secondary-hover);
}
.btn-success {
  color: var(--color-white);
  border-color: var(--color-success);
  background-color: var(--color-success);
}
.btn-success:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-success-hover);
  background-color: var(--color-success-hover);
}
.btn-warning {
  color: var(--color-white);
  border-color: var(--color-warning);
  background-color: var(--color-warning);
}
.btn-warning:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-warning-hover);
  background-color: var(--color-warning-hover);
}
.btn-error {
  color: var(--color-white);
  border-color: var(--color-error);
  background-color: var(--color-error);
}
.btn-error:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-error-hover);
  background-color: var(--color-error-hover);
}

.btn-outlined.btn-light {
  color: var(--color-light);
  border-color: var(--color-light);
  background-color: transparent;
}
.btn-outlined.btn-light:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-light);
  background-color: var(--color-light);
}
.btn-outlined.btn-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
  background-color: transparent;
}
.btn-outlined.btn-primary:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-primary);
  background-color: var(--color-primary);
}
.btn-outlined.btn-secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  background-color: transparent;
}
.btn-outlined.btn-secondary:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-secondary);
  background-color: var(--color-secondary);
}
.btn-outlined.btn-success {
  color: var(--color-success);
  border-color: var(--color-success);
  background-color: transparent;
}
.btn-outlined.btn-success:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-success);
  background-color: var(--color-success);
}
.btn-outlined.btn-warning {
  color: var(--color-warning);
  border-color: var(--color-warning);
  background-color: transparent;
}
.btn-outlined.btn-warning:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-warning);
  background-color: var(--color-warning);
}
.btn-outlined.btn-error {
  color: var(--color-error);
  border-color: var(--color-error);
  background-color: transparent;
}
.btn-outlined.btn-error:hover:not(:disabled) {
  color: var(--color-white);
  border-color: var(--color-error);
  background-color: var(--color-error);
}

.btn-text.btn-light {
  color: var(--color-light);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-light:hover:not(:disabled) {
  color: var(--color-light-hover);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-primary {
  color: var(--color-primary);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-primary:hover:not(:disabled) {
  color: var(--color-primary-hover);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-secondary {
  color: var(--color-secondary);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-secondary:hover:not(:disabled) {
  color: var(--color-secondary-hover);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-success {
  color: var(--color-success);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-success:hover:not(:disabled) {
  color: var(--color-success-hover);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-warning {
  color: var(--color-warning);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-warning:hover:not(:disabled) {
  color: var(--color-warning-hover);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-error {
  color: var(--color-error);
  border-color: transparent;
  background-color: transparent;
}
.btn-text.btn-error:hover:not(:disabled) {
  color: var(--color-error-hover);
  border-color: transparent;
  background-color: transparent;
}


/* INPUT */
.formitem-layout {
  border-color: var(--color-silver-200);
  border-radius: var(--radius-default);
  background-color: var(--color-white);
}
.formitem-layout.focused {
  border-color: var(--color-primary);
}
.formitem-layout.has-success {
  border-color: var(--color-success);
}
.formitem-layout.has-warning {
  border-color: var(--color-warning);
}
.formitem-layout.has-error {
  border-color: var(--color-error);
}
.formitem-layout input,
.formitem-layout textarea {
  font-family: var(--font-family-default);
}
.formitem-layout.has-success .formitem-state {
  color: var(--color-success);
}
.formitem-layout.has-warning .formitem-state {
  color: var(--color-warning);
}
.formitem-layout.has-error .formitem-state {
  color: var(--color-error);
}

/* COMBOBOX */
.formitem .combobox select {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border-color: var(--color-silver-200);
  border-radius: var(--radius-default);
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20px' height='20px' viewBox='0 0 64 64'%3E%3Cpath d='m32 38-17-17a1 1 90 0 0-3 3l19 19a1.4 1.4 90 0 0 2 0l19-19a1 1 90 0 0-3-3z' fill='28272e'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 96% 50%;
}
.formitem .combobox select.focused,
.formitem .combobox select:focus {
  border-color: var(--color-primary);
}
.formitem.has-success .combobox select {
  border-color: var(--color-success);
}
.formitem.has-warning .combobox select {
  border-color: var(--color-warning);
}
.formitem.has-error .combobox select {
  border-color: var(--color-error);
}